
@font-face{
    font-family: Monserrat;
    src: url(Montserrat-Light.woff);
}

.item{
    font-family: Monserrat;
    height: 50px;
    width: 100px;
    
    background: orange;
    text-decoration-color: white;
    border-color: black;
    border: none;
    border-radius: 10px;

}

.textbox{
    font-family: Monserrat;
    height: 10px;
    width: 90px;
    align-content: space-around;
    font-size: 13px;
    background: none;
    color: white;
    display:inline-block;
    border: 0px none;
    font-weight: bold;
}

.button{
    height: 5px;
    width: 5px;
    background: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    display:block;
    
}

.checkbox{
    border-radius: 1px;
    border: solid black;
}

.nu_elem{
    font-family: Monserrat;
    color: white;
    background: orange;
    font-weight: bold;
}

body{
    background-color: white
}

h2{
    font-family: Monserrat;
    font-size: small;
}

select{
    font-family: Monserrat;
    border: none;
    margin: auto;
    align-self: center;
}

.store{
    background: none;
    border:none;
    font-family: Monserrat;
}

h3{
    font-family: Monserrat;
    font-size: small;
    padding-left: 20px;
}

h4{
    font-family: Monserrat;
    font-size: small;
    padding-left: 25px;
    padding-top: 0px;
}

.buy{
    font-family: Monserrat;
    font-size: small;
    background: none;
    border:none;
}